<h1>About this project</h1>
<p>This little app was created by <a href="https://alexglv.com">Alexandru Golovatenco</a> thanks to a <a href="https://gorails.com/series/rails-for-beginners">Rails tutorial by Chris Oliver</a>.</p>